<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >

  <test name="Suite" preserve-order="true">
  <parameter name="browser" value="Chrome" />
	<groups>
	
	<define name="Happy path">
	<include name="Base"></include>
	<include name="Projects"></include>
	<include name="Maps"></include>
	</define>
	<define name="donotrun">
	<include name="negative"></include>
	</define>
	
	
	<run>
	<include name="Happy path"></include>
<!-- 	<exclude name="donotrun"></exclude> --> 
	</run>
	
	</groups>
	
	
	<packages>
	<package name="com.liaison.qa.prism.uitests.tests"></package>
	</packages>
  </test> <!-- Test -->  
</suite> <!-- Suite -->